<h1>商品編集画面</h1>

<form method="post" action="/products/update">
 <p>
 商品コード：<%= @products.product_id %><input type="hidden" name="product_id" value="<%= @products.product_id %>" /><br />
 商品名：<input type="text" name="name" value="<%= @products.name %>" /><br />
 価格：<input type="text" name="price" value="<%= @products.price %>" /><br />
 <input type="submit" value="送信" />
 </p>
</form>

<%= render 'shared/footer' %>